<div class="nonhover">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		width="93"
		height="93"
		viewBox="0 0 93 93"
		fill="none"
	>
		<mask
			id="mask0_426_634"
			style="mask-type:luminance"
			maskUnits="userSpaceOnUse"
			x="0"
			y="0"
			width="93"
			height="93"
		>
			<rect
				y="46.4365"
				width="65.6712"
				height="65.6712"
				transform="rotate(-45 0 46.4365)"
				fill="url(#paint0_radial_426_634)"></rect>
		</mask>
		<g mask="url(#mask0_426_634)">
			<rect
				x="13.6011"
				y="13.6009"
				width="65.6712"
				height="65.6712"
				rx="3.5"
				fill="url(#pattern0_426_634)"></rect>
		</g>
		<defs>
			<radialGradient
				id="paint0_radial_426_634"
				cx="0"
				cy="0"
				r="1"
				gradientUnits="userSpaceOnUse"
				gradientTransform="translate(32.8356 79.272) rotate(90) scale(32.8356)"
			>
				<stop offset="0.600962" stop-color="white" stop-opacity="0"></stop>
				<stop offset="0.61" stop-color="white"></stop>
				<stop offset="1" stop-color="white" stop-opacity="0.25"></stop>
			</radialGradient>
			<pattern
				id="pattern0_426_634"
				patternUnits="userSpaceOnUse"
				patternTransform="matrix(3.75264 0 0 3.75264 45.4985 45.4983)"
				preserveAspectRatio="none"
				viewBox="0 0 100 100"
				width="1"
				height="1"
			>
				<g id="pattern0_426_634_inner">
					<circle cx="25" cy="25" r="25" fill="white"></circle>
				</g>
			</pattern>
		</defs>
	</svg>
</div>
<div class="hover">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		width="117"
		height="109"
		viewBox="0 0 117 109"
		fill="none"
	>
		<mask
			id="mask0_430_1158"
			style="mask-type:luminance"
			maskUnits="userSpaceOnUse"
			x="0"
			y="0"
			width="117"
			height="117"
		>
			<rect
				y="58.0456"
				width="82.0889"
				height="82.0889"
				transform="rotate(-45 0 58.0456)"
				fill="url(#paint0_radial_430_1158)"></rect>
		</mask>
		<g mask="url(#mask0_430_1158)">
			<rect
				x="17.001"
				y="17.0011"
				width="82.0889"
				height="82.0889"
				fill="url(#pattern0_430_1158)"></rect>
		</g>
		<defs>
			<radialGradient
				id="paint0_radial_430_1158"
				cx="0"
				cy="0"
				r="1"
				gradientUnits="userSpaceOnUse"
				gradientTransform="translate(41.0445 99.09) rotate(90) scale(41.0445)"
			>
				<stop offset="0.600962" stop-color="white" stop-opacity="0"></stop>
				<stop offset="0.61" stop-color="white"></stop>
				<stop offset="1" stop-color="white" stop-opacity="0.25"></stop>
			</radialGradient>
			<pattern
				id="pattern0_430_1158"
				patternUnits="userSpaceOnUse"
				patternTransform="matrix(4.6908 0 0 4.6908 56.8727 56.8729)"
				preserveAspectRatio="none"
				viewBox="0 0 100 100"
				width="1"
				height="1"
			>
				<g id="pattern0_430_1158_inner">
					<circle cx="25" cy="25" r="25" fill="#E53C34"></circle>
				</g>
			</pattern>
		</defs>
	</svg>
</div>
