<ul>
	<li>
		<p>
			<b class="bold">Desarrollo y optimización de aplicaciones web:</b>
			Desarrollo de aplicaciones web a medida, implementando nuevas funcionalidades
			y mejoras de diseño (UI/UX).
		</p>
	</li>
	<li>
		<p>
			<b class="bold">Gestión del ciclo de vida del proyecto:</b>
			Desde el testeo de interfaces y documentación técnica hasta la compilación para
			despliegue en producción.
		</p>
	</li>
	<li>
		<p>
			<b class="bold">Impacto en negocio:</b>
			Optimización de rendimiento y estrategias SEO que resultaron en un incremento
			directo del tráfico y la visibilidad del cliente.
		</p>
	</li>
</ul>
