<ul>
	<li>
		<p>
                        <b class="bold">Automatización de procesos técnicos:</b>
			Diseñé y desarrollé herramientas para el empaquetado automático de archivos
			Java y scripts SQL, agilizando el flujo de trabajo en la plataforma Blue
			Yonder WMS. •
		</p>
	</li>
	<li>
		<p>
			<b class="bold">Soporte logístico:</b>
			Facilité la gestión de prioridades en el sistema de inventarios, mejorando la
			respuesta ante solicitudes críticas en entornos de producción.
		</p>
	</li>
</ul>
