section.page-section {
        position: relative;
	display: flex;
	flex-direction: column;
	height: fit-content;
	min-height: 75dvh;
	
	&:first-of-type {
		min-height: 100dvh;
                align-items: center;
                justify-content: center;
		box-sizing: border-box;
	}

	&[data-name="Experiencia"] {
		min-height: calc(100dvh - 60px);
	}

	&[data-name="Proyectos"] {
		max-height: calc(100dvh - 60px);
		min-height: calc(100dvh - 60px);
	}
	
	&[data-name="Certificaciones"] {
		min-height: calc(50dvh + 35px);
	}
}
