nav#navbar.--component {
	left: 0;
	top: 0;
	position: fixed;
	z-index: 10;
	display: flex;
	width: 100dvw;
	height: 60px;
	max-height: 60px;
	justify-content: space-between;
	align-items: center;

	background-color: var(--background-50);
	backdrop-filter: blur(8px);

	div.left {
		overflow: hidden;
		display: flex;
		align-items: center;
		width: fit-content;
		height: 100%;
		gap: 10px;
		padding: 0 0 0 50px;

		div.character-identity {
			position: relative;
			display: grid;
			place-items: center;

			div.decorator {
				position: absolute;
				display: grid;
				place-items: center;

				div.hover,
				div.nonhover {
					display: grid;
					place-items: center;

					@starting-style {
						scale: 0;
					}
				}

				div.nonhover {
					opacity: 0.1;
				}

				div.hover {
					display: none;
				}
			}

			img.character {
				border-radius: 37.5px;
			}
		}

		div.name-details {
			display: flex;
			align-items: center;
			gap: 10px;

			* {
				font-family: 'Satoshi-Bold';
				font-size: 24px;
				color: var(--seccond-accent);
			}

			span.separator {
				width: 2px;
				height: 24px;
				background-color: var(--seccond-accent);
			}
		}
	}

	&:hover > div.left {
		div.character-identity {
			div.decorator {
				div.hover {
					display: block;
					scale: 0.75;
				}

				div.nonhover {
					display: none;
				}
			}
		}

		img.character {
			transform: scale(1.1);
		}
	}

	div.right {
		height: 100%;
		padding: 0 50px 0 0;
		display: flex;
		align-items: center;
		width: fit-content;

		div.options-list {
			height: 100%;

			div.pc {
				height: 100%;
				position: relative;
				width: fit-content;
				display: flex;
				align-items: center;

				div.selector {
					box-sizing: border-box;
					border: none;
					border-top: 5px solid var(--primary);
					top: 0;
					left: -5px;
					position: absolute;
					width: 40px;
					height: 100%;
					transition: all 0.2s ease;
				}

				ul.list-elements {
					padding: 0;
					z-index: 1;
					margin: 0;
					display: flex;
					flex-direction: row;
					gap: 20px;

					li.elements {
						display: grid;
						place-items: center;
						width: 30px;
						height: 30px;
						list-style: none;
						transition: all 0s ease;

						a {
							display: grid;
							place-items: center;
							width: 30px;
							height: 30px;
						}

						&.SobreMi a.Select * {
							stop-color: var(--seccond-accent);
							fill: var(--seccond-accent);
							stroke: var(--seccond-accent);
						}
						& a.Select * {
							stop-color: var(--seccond-accent);
							stroke: var(--seccond-accent);
						}

						&.SobreMi * {
							stop-color: var(--tertiary);
							fill: var(--tertiary);
							stroke: var(--tertiary);
						}

						&.SobreMi:hover * {
							stop-color: var(--seccond-accent);
							fill: var(--seccond-accent);
							stroke: var(--seccond-accent);
						}

						&.Experiencia * {
							stop-color: var(--tertiary);
							stroke: var(--tertiary);
						}

						&.Experiencia:hover * {
							stop-color: var(--seccond-accent);
							stroke: var(--seccond-accent);
						}

						&.Proyectos * {
							stop-color: var(--tertiary);
							stroke: var(--tertiary);
						}

						&.Proyectos:hover * {
							stop-color: var(--seccond-accent);
							stroke: var(--seccond-accent);
						}

						&.Certificaciones * {
							stop-color: var(--tertiary);
							stroke: var(--tertiary);
						}

						&.Certificaciones:hover * {
							stop-color: var(--seccond-accent);
							stroke: var(--seccond-accent);
						}

						&.Comisiones * {
							stop-color: var(--tertiary);
							stroke: var(--tertiary);
						}

						&.Comisiones:hover * {
							stop-color: var(--seccond-accent);
							stroke: var(--seccond-accent);
						}
					}
				}
			}
		}
	}

	@media (max-width: 550px) {
		justify-content: center;

		div.left {
			display: none;
		}

		div.right {
			padding: 0;

			ul.list-elements {
				gap: 25px;
			}
		}
	}
}
