div#home-section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 50px;
	justify-content: center;
	height: 75dvh;

	div.information {
		width: fit-content;
		max-width: 500px;
		gap: 24px;

		&,
		* {
			display: flex;
			flex-direction: column;
			color: var(--seccond-accent);
		}

		.top {
			h1.name {
				flex-direction: row;
				height: 45px;

				&,
				* {
					font-family: 'Satoshi-Bold';
					font-size: 24px;
				}

				span.brackets {
					color: var(--primary);
				}
			}

			span.position {
				height: 26px;
				box-sizing: border-box;
				border: none;
				border-top: 1px solid var(--primary);
				font-family: 'Satoshi-Medium';
				width: 100%;
				color: var(--primary);
				font-size: 20px;
			}
		}

		p.desciption {
			font-family: 'Satoshi-Light';
			font-size: 16px;
		}

		ul.fast-links {
			width: 100%;
			flex-wrap: wrap;
			gap: 15px 25px;

			&,
			* {
				display: flex;
				flex-direction: row;
				text-decoration: none;
			}

			li.elements {
				display: flex;
				width: fit-content;

				&,
				* {
					border: none;
					font-family: 'Satoshi-Bold';
					font-size: 16px;
					background: transparent;
				}

				button,
				a {
					cursor: pointer;
					gap: 10px;
				}
			}
		}
	}

	@media (max-width: 800px) {
		padding: 100px 0;
		gap: 25px;

		* {
			justify-content: center;
			text-align: center;
		}

		div.information {
			box-sizing: border-box;
			padding: 0 25px;

			div.top {
				gap: 10px;

				span.position,
				h1.name {
					gap: 10px;
					height: fit-content;
				}

				h1.name {
					font-size: 20px;
				}

				span.position {
					font-size: 16px;
				}
			}

			p.desciption {
				font-size: 12px;
			}
		}
	}
}
