---
import Footer from '../components/footer/footer.astro';
import Navbar from '../components/navbar/navbar.astro';

import SpeedInsights from '@vercel/speed-insights/astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
		<link rel="stylesheet" href="styles/index.css" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#000000" />
		<link rel="apple-touch-icon" href="/favicon.webp" />
		<meta name="title" content="Joan Cardozo | Mikedev | Frontend Web Developer">
		<meta name="description" content="Desarrollador de software especializado en páginas y aplicaciones web con 3 años de experiencia en JavaScript, TypeScript y su ecosistema, ampliándome en entornos de escritorio y gráficos">
		<meta
			name="description"
			content="Desarrollador de software especializado en páginas y aplicaciones web con 3 años de experiencia en JavaScript, TypeScript y su ecosistema, ampliándome en entornos de escritorio y gráficos"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta
			property="og:title"
			content="Joan Cardozo | Mikedev | Frontend Web Developer"
		/>
		<meta property="og:image" content="/joancardozo.png" />
		<meta property="og:image:width" content="1280" />
		<meta property="og:image:height" content="720" />
		<meta property="og:url" content="https://joancardozo.website/" />
		<meta
			property="og:site_name"
			content="Joan Cardozo | Mikedev | Frontend Web Developer"
		/>
		<meta property="og:type" content="website" />
		<meta
			property="og:description"
			content="Joan Cardozo | Mikedev | Frontend Web Developer"
		/>
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:title"
			content="Joan Cardozo | Mikedev | Frontend Web Developer"
		/>
		<meta
			name="twitter:description"
			content="Desarrollador de software especializado en páginas y aplicaciones web con 3 años de experiencia en JavaScript, TypeScript y su ecosistema, ampliándome en entornos de escritorio y gráficos"
		/>
		<meta name="twitter:image" content="https://joancardozo.website/joancardozo.png" />
		<meta
			name="twitter:image:alt"
			content="Joan Cardozo | Mikedev | Frontend Web Developer"
		/>
		<script is:inline defer src="/scripts/init.js"></script>
		<title>Joan Cardozo | Mike | Portfolio</title>
	</head>
	<body>
		<img
			src="/images/decoration/topographic_left_down.webp"
			alt="mikedev topographic pattern"
			fetchpriority="high"
			class="topographic_left_down"
		/>
		<img
			src="/images/decoration/topographic_right_up.webp"
			alt="mikedev topographic pattern"
			fetchpriority="high"
			class="topographic_right_up"
		/>
		<Navbar />
		<main>
			<slot />
			<Footer />
		</main>
		<SpeedInsights />
	</body>
</html>
