div.background {
	width: 100%;
	min-height: 75dvh;
	height: 100dvh;
	display: flex;
	flex-direction: row;
	position: relative;
	transition: all 0.5s ease;

	align-items: flex-end;
	justify-content: center;

	div.basic-info {
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: 15px;
		top: 5%;
		left: 5%;

		div.data-info {
			display: flex;
			flex-direction: column;
			gap: 5px;

			* {
				font-family: 'Satoshi-Bold';
				font-size: 24px;
			}

			span.counter,
			div.separator {
				color: var(--primary);
			}

			span.counter {
				font-size: 32px;
			}

			div.separator {
				height: 5px;
				max-width: 150px;
				width: 100%;
				background: var(--primary);
			}

			h3.project-name {
				color: var(--seccond-accent);
			}
		}

		img {
			object-fit: cover;
			background: var(--tertiary);
			border-radius: 50%;
			transition: all 0.3s ease;
			scale: 1;

			@starting-style {
				scale: 0;
			}
		}

		@media (max-width: 1500px) {
			top: 2.5%;
			left: 50%;
			transform: translateX(-50%);

			div.data-info {
				align-items: center;

				* {
					text-shadow: 0 0 16px var(--background);
					text-align: center;
					font-size: 18px !important;
				}
			}

			img {
				display: none;
			}
		}
	}

	& > div.container {
		width: 100dvw;
		display: flex;
		padding: 0 45px;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		min-height: 250px;
		height: fit-content;
		gap: 20px;

		@media (max-width: 1050px) {
			justify-content: center;
			gap: 0px;
		}

		div.full-information {
			display: flex;
			flex-direction: column;
			gap: 10px;
			width: fit-content;
			min-width: 300px;
			max-width: 600px;
			padding: 30px 45px;

			@media (min-width: 500px) {
				* {
					font-size: 16px;
				}
			}

			p.description {
				font-family: 'Satoshi-Regular';
				font-size: 16px;
				width: 100%;
				max-width: 600px;
				color: var(--seccond-accent);
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				line-clamp: 4;
				overflow: hidden;
				text-overflow: ellipsis;
				transition: all 0.2s ease;

				&:hover {
					overflow: visible;
					-webkit-line-clamp: none;
					line-clamp: none;
				}

				@media (max-width: 1050px) {
					text-align: center;
				}
			}

			&:has(p.description:hover) {
				ul.links {
					height: 0;
				}
			}

			div.separator {
				width: 100%;
				max-width: 600px;
				height: 5px;

				background: linear-gradient(
					90deg,
					#fffa00 0%,
					rgba(255, 250, 0, 0) 100%
				);
			}

			ul.links {
				width: 100%;
				display: flex;
				gap: 10px;
				height: 35px;
				transition: all 0.2s ease;

				@media (max-width: 1050px) {
					gap: 50px;
					justify-content: center;

					li.element {
						transform: scale(1.25);
					}
				}

				li.element {
					border-radius: 2px;
					overflow: hidden;
					display: flex;
					align-items: center;
					justify-content: center;
					list-style: none;

					&:hover {
						&:has(img) img {
							transform: scale(1.5);
						}

						&:has(svg) span.text {
							background: linear-gradient(
								to left,
								var(--primary-50) 0%,
								var(--primary) 50%
							);
						}
					}

					a {
						display: flex;
						align-items: center;
						justify-content: center;
						width: fit-content;
						position: relative;
						min-height: 25px;
						height: 35px;
						max-height: 35px;
						color: var(--seccond-accent);
						text-decoration: none;

						&:has(img) {
							height: 35px;
							max-height: 35px;
							border-radius: 2px;
							background: var(--secondary);
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 4.5px 13.5px;
							gap: 10px;

							span.text {
								font-family: 'Satoshi-Bold';
								transition: all 0.2s ease;
								display: grid;
								place-items: center;
								box-sizing: border-box;
								z-index: 1;
								width: 100%;
								min-height: 35px;
								line-height: normal;
								text-align: center;
								color: var(--background);
							}
						}

						&:has(svg) {
							max-height: 35px;

							span.text {
								font-family: 'Satoshi-Bold';
								transition: all 0.2s ease;
								display: flex;
								align-items: center;
								justify-content: center;
								box-sizing: border-box;
								z-index: 1;
								width: 100%;
								min-height: 35px;
								padding: 4.5px 13.5px;
								line-height: normal;
								text-align: center;
								background: linear-gradient(
									to left,
									#0f0f0f7a 0%,
									#0f0f0f 50%
								);
							}

							div.container {
								width: 100%;
								height: 100%;
								max-height: 35px;
								display: grid;
								place-items: center;
								position: absolute;

								svg {
									width: 100%;
									height: 100%;
									min-width: 75px;
									min-height: 35px;
									position: absolute;
								}
							}
						}
					}
				}
			}
		}

		div.galery {
			position: relative;
			display: flex;
			max-width: calc(600px + 60px);
			width: fit-content;
			justify-content: space-between;
			margin: 0 45px 0 0;
			gap: 50px;
			height: 130px;

			@media (max-width: 1050px) {
				margin: 0 0 25px 0;
			}

			div.container {
				padding: 0 100px;
				display: flex;
				width: fit-content;
				align-items: center;
				gap: 25px;
				justify-content: center;
				max-height: 130px;
				overflow: hidden;
				overflow-x: auto;

				button.galery-project {
					border: none;
					outline: none;
					background: none;
				}

				&::-webkit-scrollbar {
					height: 0;
				}
			}

			button.slider {
				height: 100%;
				min-width: 100px;
				max-width: 100px;
				width: 100%;
				display: grid;
				place-items: center;
				border: none;
				outline: none;
				background: none;
				z-index: 2;
				cursor: pointer;

				@media (max-width: 500px) {
				}

				* {
					transition: all 0.2s ease;
				}

				&.left {
					top: 0;
					left: 0;
					transition: all 0.2s ease;
					/* background: linear-gradient(
						to right,
						#111111 10%,
						transparent 100%
					); */

					svg {
						&,
						* {
							stroke: var(--secondary);
						}
						filter: drop-shadow(0 0 4px var(--secondary));
					}

					&:hover {
						/* background: linear-gradient(
							to right,
							#111111 0%,
							transparent 80%
						); */

						svg {
							filter: none;
							transform: translateX(-10px);

							&,
							* {
								stroke: var(--primary);
							}
						}
					}
				}

				&.right {
					top: 0;
					right: 0;
					transition: all 0.2s ease;
					/* background: linear-gradient(
						to left,
						#111111 10%,
						transparent 100%
					); */

					svg {
						&,
						* {
							stroke: var(--secondary);
						}
						filter: drop-shadow(0 0 4px var(--secondary));
					}

					&:hover {
						/* background: linear-gradient(
							to left,
							#111111 0%,
							transparent 80%
						); */

						svg {
							filter: none;
							transform: translateX(10px);

							&,
							* {
								stroke: var(--primary);
							}
						}
					}
				}
			}
		}
	}
}
